.footer {
    background: #2D2D2D;
}

.footer_row {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 526px){
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        height: 122px;
        gap: 20px;
    }
}

.footer__copy {
    color: #FFF;
    font-size: 14px;
    line-height: 142.857%; 
    color: #FFF;
    @media (max-width: 767.98px){
        line-height: 160%;
    }
}



.socials-list {
    display: flex;
    gap: 16px;
}
