.header {
    font-family: Poppins;
}

.header__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    @media (max-width: 524px){
        align-items: center;
        justify-content: center;
    }
    @media (max-width: 479.98px){
        height: 72px;
    }
   
}

.header__logo {
    font-size: 21px;
    line-height: 130%;
    color: #2D2D2D;
    position: relative;
    padding-left: 36px;
    white-space: nowrap;
    &:hover::before{
        animation-name: for-header-logo-before;
        animation-iteration-count: 4;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        animation-direction: alternate;
    }
    &::before{
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 32px;
        height: 32px;
        display: inline-block;
        background: url(../img/header/Logo\ Mark.svg) no-repeat;
    }
    span{
        font-weight: 700;
    }
    @keyframes for-header-logo-before{
        0%{
            top: -3px;
        }
        100%{
            top: -10px;
        }
    }
}
.header__right-side {
    display: flex;
    flex-wrap: wrap-reverse;
    @media (max-width: 524px){
        display: none;
    }
}
.header__contact {
    color: #009379;
    font-weight: 600;
    line-height: 150%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover{
        text-decoration: underline;
    }
    &:not(:last-child){
        margin-right: 50px;
    }
    @media (max-width: 880px){
        display: none;
    }
}
.how-it-works{ 
    display: inline-flex;
    font-family: Poppins;
    color: #009379;
    font-weight: 600;
    line-height: 150%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px 50px;
    height: 60px;
    background: #E5F4F2;
    border-radius: 20px;
    transition: 0.3s;
    &:hover{
        transform: scale(0.95);
    }
    @media (max-width: 767.98px){
        &:not(:last-child){
            margin-right: 0;
        }
    }
}
.header__how-it-works {
    &:not(:last-child){
        margin-right: 20px;
    }
}
.get-started{
    display: inline-flex;
    font-family: Poppins;
    color: #009379;
    font-weight: 600;
    line-height: 150%;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    background: #009379;
    height: 60px;
    padding: 16px 50px;
    overflow: hidden;
    transition: 0.3s;
    &:hover{
        background: #004639;
    }
    &::before{
        content: url(../img/header/RocketLaunch.svg);
        padding-right: 9px;
        padding-top: 5px;
    }
    &:hover::before{
        transition: 2s;
        transform: translate(200px, -10px);
    }
}
.header__get-started {
    &:not(:last-child){
        margin-right: 20px;
    }
    @media (max-width: 880px){
        display: none;
    }
}